<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BikeFast</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">


    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

    <header class="header">
        <a href="#" class="logo"> <i class="fa-solid fa-bicycle"> BikeFast </i></a>

        <nav class="navbar">
            <a href="#home">Inicio</a>
            <a href="#features">Características</a>
            <a href="#products">Productos</a>
            <a href="#categories">Categorías</a>
            <a href="#review">Opiniones</a>
            <a href="#blogs">blog</a>
        </nav>

        <div class="icons">
            <div class="fas fa-bars" id="menu-btn"></div>
            <div class="fas fa-search" id="search-btn"></div>
            <div class="fas fa-shopping-cart" id="cart-btn"></div>
            <div class="fas fa-user" id="login-btn"></div>
        </div>

        <form action="" class="search-form">
            <input type="search" id="search-box" placeholder="Buscar aqui...">
            <label for="search-box" class="fas fa-search"></label>
        </form>

        <div class="shopping-cart">

            <div class="box">
                <i class="fas fa-trash"></i>
                <img src="../static/imagenes/bici_deportiva.png" alt="">
                <div class="content">
                    <h3>Bicicleta - Deportiva </h3>
                    <span class="price">$100/-active</span>
                    <span class="quantity">qty : 1</span>
                </div>
            </div>

            <div class="box">
                <i class="fas fa-trash"></i>
                <img src="../static/imagenes/bicicleta_electrica_foto.png" alt="">
                <div class="content">
                    <h3>Bicicleta - eléctrica</h3>
                    <span class="Precio">$100/-active</span>
                    <span class="Cantidad">qty : 1</span>
                </div>
            </div>

            <div class="box">
                <i class="fas fa-trash"></i>
                <img src="/static/imagenes/scooter_foto.png" alt="">
                <div class="content">
                    <h3>Scooter</h3>
                    <span class="Precio">$100/-active</span>
                    <span class="Cantidad">qty : 1</span>
                </div>
            </div>

            <div class="total"> total : $300.00/- </div>
            <a href="#" class="btn">checkout</a>

        </div>

        <form action="" class="login-form">
            <h3>login now</h3>
            <input type="email" placeholder="Email" class="box">
            <input type="password" placeholder="Contraseña" class="box">
            <!--<p>Olvidaste tu contraseña <a href="">Aplasta aquí</a></p>-->
            <p>No tienes cuenta <a href="">crea una</a></p>
            <input type="submit" value="login now" class="btn">
        </form>

    </header>

    <section class="home" id="home">
        <div class="content">
            <h3>El mejor lugar para <span>rentar</span> bicicletas</h3>
            <p>Ven y conoce nuestros productos a los mejores precios. Porque trasladarse nunca fue tan sencillo.
            </p>
            <a href="#" class="btn">Renta ahora</a>
        </div>
    </section>

    <section class="features" id="features">
        <h1 class="heading">Nuestras<span> características</span></h1>

        <div class="box-container">
            <div class="box">
                <img src="/static/imagenes/bicicletaFondo.svg" alt="">
                <h3>Renta de bicicletas y demás</h3>
                <p>Ven y conoce todos nuestros productos, todo con la finalidad de que puedas tener un transporte sencillo de conseguir, dentro de un área concurrida y que pueda influir tanto en aspectos amibnetales como fisicos. </p>
                <a href="" class="btn">Leer más</a>
            </div>

            <div class="box">
                <img src="/static/imagenes/bicicletafondo2.svg" alt="">
                <h3>Conoce BikeFast</h3>
                <p>BikeFast es una empresa dedicada a la renta de bicicletas con la meta de fomentar la importancia del uso de estas en lugares como los que este servicio es brindado, todo con la finalidad de que los usuarios puede obtener nada más que beneficios. </p>
                <a href="" class="btn">Leer más</a>
            </div>

            <div class="box">
                <img src="/static/imagenes/pagoEnLinea.svg" alt="">
                <h3>¿Cómo rentar un transporte de BikeFast?</h3>
                <p>Conoce como puedes rentar bicicletas o demás con solo un click. Porque transportarse nunca había sido así de sencillo.</p>
                <a href="" class="btn">Leer más</a>
            </div>
        </div>
    </section>

    <section class="products" id="products">
        <h1 class="heading">Nuestros <span>productos</span></h1>
        
        <div class="swiper product-slider">
            <div class="swiper-wrapper">

                <div class="swiper-slide box">
                    <img src="/static/imagenes/triciclo_bebe.png" alt="">
                    <h3>Triciclo</h3>
                    <div class="price"> $50.00-Hora </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>

                    <a href="#" class="btn">Agregar al carro</a>
                </div>

                <div class="swiper-slide box">
                    <img src="/static/imagenes/triciclo_foto.png" alt="">
                    <h3>Triciclo de adulto</h3>
                    <div class="price"> $100.00 - Hora </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>

                    <a href="#" class="btn">Agregar al carro</a>
                </div>

                <div class="swiper-slide box">
                    <img src="/static/imagenes/triciclo_electrico.png" alt="">
                    <h3>Triciclo eléctrico</h3>
                    <div class="price"> $150 - Hora </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>

                    <a href="#" class="btn">Agregar al carro</a>
                </div>

                <div class="swiper-slide box">
                    <img src="/static/imagenes/scooter_foto.png" alt="">
                    <h3>Scooter</h3>
                    <div class="price"> $60 - Hora </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>

                    <a href="#" class="btn">Agregar al carro</a>
                </div>

                
            </div>

            
        </div>

        <div class="swiper product-slider">
            <div class="swiper-wrapper">

                <div class="swiper-slide box">
                    <img src="/static/imagenes/bicicleta_foto.png" alt="">
                    <h3>Bicicleta</h3>
                    <div class="price"> $120 - Hora </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>

                    <a href="#" class="btn">Agregar al carro</a>
                </div>

                <div class="swiper-slide box">
                    <img src="/static/imagenes/bici_deportiva.png" alt="">
                    <h3>Bicicleta - Deportiva </h3>
                    <div class="price"> $ 200 - Hora </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>

                    <a href="#" class="btn">Agregar al carro</a>
                </div>

                <div class="swiper-slide box">
                    <img src="/static/imagenes/bicicleta_electrica_foto.png" alt="">
                    <h3>Bicicleta eléctrica</h3>
                    <div class="price"> $190 - Hora </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>

                    <a href="#" class="btn">Agregar al carro</a>
                </div>

                <div class="swiper-slide box">
                    <img src="/static/imagenes/scooter_electrico.png" alt="">
                    <h3>Scooter eléctrico</h3>
                    <div class="price"> $4.99/- - 10.99/- </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>

                    <a href="#" class="btn">Agregar al carro</a>
                </div>

                
            </div>

            
        </div>
    </section>

    <section class="categories" id="categories">
        <h1 class="heading">Categoría de <span>productos</span></h1>

        <div class="box-container">

            <div class="box">
                <img src="/static/imagenes/caso_bicicleta.webp" alt="">
                <h3>Renta de accesorios</h3>
                <p>Obtén 20% de descuento</p>
                <a href="#" class="btn">Conoce más</a>
            </div>
    
            <div class="box">
                <img src="/static/imagenes/bicicleta_foto.png" alt="">
                <h3>Bicicletas</h3>
                <p>Hasta 50% de descuento en tu primera renta</p>
                <a href="#" class="btn">Conoce más</a>
            </div>
    
            <div class="box">
                <img src="/static/imagenes/scooter_electrico.png" alt="">
                <h3>Scooters</h3>
                <p>Hasta 50% de descuento en tu primera renta</p>
                <a href="#" class="btn">Conoce más</a>
            </div>
    
            <div class="box">
                <img src="/static/imagenes/bicicleta_electrica_foto.png" alt="">
                <h3>Productos eléctricos</h3>
                <p>Obtén 10% de descuento ya</p>
                <a href="#" class="btn">Conoce más</a>
            </div>
        </div>
        
    </section>

    <section class="review" id="review">
        <h1 class="heading">
            Opinión de <span>clientes</span>
        </h1>

        <div class="swiper review-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide box">
                    <img src="/static/imagenes/persona2.webp" alt="">
                    <p>Rentar una bicicleta es una forma conveniente y saludable de moverse por la ciudad o explorar nuevos lugares. </p>

                    <h3>John Deo</h3>

                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="/static/imagenes/persona3.webp" alt="">
                    <p>Me gustó que pude comparar los diferentes tipos de bicicletas y elegir la que mejor se ajustaba a mis necesidades. El proceso de reserva fue muy sencillo y recibí confirmación de inmediato.</p>

                    <h3>Fatima Mtz</h3>

                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="/static/imagenes/persona4.jpg" alt="">
                    <p> Al recoger la bicicleta, el personal fue amable y servicial, y me brindó información útil sobre rutas y lugares para visitar. La bicicleta estaba en excelentes condiciones y pude disfrutar de un paseo sin problemas.</p>

                    <h3>Lucia Smith</h3>

                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="/static/imagenes/persona5.png" alt="">
                    <p>En general, recomendaría esta página web de renta de bicicletas a cualquiera que esté buscando una forma conveniente y confiable de explorar la ciudad en dos ruedas.</p>

                    <h3>Mariana Nieblas</h3>

                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="blogs" id="blogs">
        <h1 class="heading">Nuestro <span>blog</span></h1>

        <div class="box-container">
            <div class="box">
                <img src="/static/imagenes/modelos_bicicletas.webp" alt="">
                <div class="content">
                    <div class="icons">
                        <a href="#"><i class="fas fa-user"></i>by user</a>
                        <a href="#"><i class="fas fa-calendar"></i>1st may,2021</a>
                    </div>

                    <h3>Mejores modelos de bicicletas</h3>
                    <p>Conoce los mejores modelos de bicicletas para poder trasladarte con facilidad dentro del mall o donde mejor te acomodes.</p>

                    <a href="#" class="btn">Leer más</a>
                </div>
            </div>

            <div class="box">
                <img src="/static/imagenes/carrera_bicicletas.jpeg" alt="">
                <div class="content">
                    <div class="icons">
                        <a href="#"><i class="fas fa-user"></i>by user</a>
                        <a href="#"><i class="fas fa-calendar"></i>1st may,2021</a>
                    </div>

                    <h3>Unete a la carrera de BikeFast</h3>
                    <p>Conoce las bases para poder unirte a este increible evento patrocinado por BikeFast para fomentar el uso de bicilcetas como medio de traslado.</p>

                    <a href="#" class="btn">Leer más</a>
                </div>
            </div>

            <div class="box">
                <img src="../static/imagenes/aprender_bici.jpg" alt="">
                <div class="content">
                    <div class="icons">
                        <a href="#"><i class="fas fa-user"></i>by user</a>
                        <a href="#"><i class="fas fa-calendar"></i>1st may,2021</a>
                    </div>

                    <h3>Inscribete a clases para aprnder a usar bicicletas </h3>
                    <p>Curso para todas las edades, solo llena el formulario y acude a las instalaciones del Mall en donde nos encontramos ubicados.</p>

                    <a href="#" class="btn">Leer más</a>
                </div>
            </div>
        </div>
    </section>


    <section class="footer">
        <div class="box-container">
            <div class="box">
                <h3> BikeFast <i class="fa-solid fa-bicycle"></i></h3>
                <p>Lorem ipsum dolor sit amet consecteur adispisicing elit. Aliquam libero nostrum
                    veniam facere tempore nisi.</p>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                    
                </div>
            </div>

            <div class="box">
                <h3>Información de contacto</h3>
                
                <a href="#" class="links"> <i class="fas fa-phone">+123-456-7890</i></a>
                <a href="#" class="links"> <i class="fas fa-phone">+111-222-3334</i></a>
                <a href="#" class="links"> <i class="fas fa-envelope">correo@gmail.com</i></a>
                <a href="#" class="links"> <i class="fas fa-map-marker-alt">mubai, inida - 4000104</i></a>
            </div>

            <div class="box">
                <h3>Información de página</h3>
                
                <a href="#" class="links"> <i class="fas fa-arrow-right">Inicio</i></a>
                <a href="#" class="links"> <i class="fas fa-arrow-right">Características</i></a>
                <a href="#" class="links"> <i class="fas fa-arrow-right">Productos</i></a>
                <a href="#" class="links"> <i class="fas fa-arrow-right">Categorías</i></a>
                <a href="#" class="links"> <i class="fas fa-arrow-right">Opiniones</i></a>
                <a href="#" class="links"> <i class="fas fa-arrow-right">blog</i></a>
                
            </div>

            
            <div class="box">
                <h3>Noticias</h3>
                
                <img src="/static/imagenes/tarjetas.jpg" alt="" class="payment-img">
                <p>subscribe para obtener descuentos</p>
                <input type="email" placeholder="Tu correo" class="email">
                <input type="submit" value="subscibe" class="btn">
                
                
            </div>
        </div>

        
    </section>

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
   
    <script src="/static/js/script.js"></script>
</body>
</html>