<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">


    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <header class="header">
        <a href="#" class="logo"> <i class="fa-solid fa-bicycle"> BikeFast </i></a>

        <nav class="navbar">
            <a href="#home">home</a>
            <a href="#features">features</a>
            <a href="#products">products</a>
            <a href="#categories">categories</a>
            <a href="#review">review</a>
            <a href="#blogs">blogs</a>
        </nav>

        <div class="icons">
            <div class="fas fa-bars" id="menu-btn"></div>
            <div class="fas fa-search" id="search-btn"></div>
            <div class="fas fa-shopping-cart" id="cart-btn"></div>
            <div class="fas fa-user" id="login-btn"></div>
        </div>

        <form action="" class="search-form">
            <input type="search" id="search-box" placeholder="Buscar aqui...">
            <label for="search-box" class="fas fa-search"></label>
        </form>

        <div class="shopping-cart">

            <div class="box">
                <i class="fas fa-trash"></i>
                <img src="/static/imagenes/bicicleta.png" alt="">
                <div class="content">
                    <h3>Bicicleta normal</h3>
                    <span class="price">$100/-active</span>
                    <span class="quantity">qty : 1</span>
                </div>
            </div>

            <div class="box">
                <i class="fas fa-trash"></i>
                <img src="/static/imagenes/bicicleta-electrica.png" alt="">
                <div class="content">
                    <h3>Bicicleta eléctrica</h3>
                    <span class="Precio">$100/-active</span>
                    <span class="Cantidad">qty : 1</span>
                </div>
            </div>

            <div class="box">
                <i class="fas fa-trash"></i>
                <img src="/static/imagenes/triciclo.png" alt="">
                <div class="content">
                    <h3>Triciclo</h3>
                    <span class="Precio">$100/-active</span>
                    <span class="Cantidad">qty : 1</span>
                </div>
            </div>

            <div class="total"> total : $19.69/- </div>
            <a href="#" class="btn">checkout</a>

        </div>
    </header>



    <script src="/static/js/script.js"></script>
</body>
</html>