<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">


    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <header class="header">
        <a href="#" class="logo"> <i class="fa-solid fa-bicycle"> BikeFast </i></a>

        <nav class="navbar">
            <a href="#home">home</a>
            <a href="#features">features</a>
            <a href="#products">products</a>
            <a href="#categories">categories</a>
            <a href="#review">review</a>
            <a href="#blogs">blogs</a>
        </nav>

        <div class="icons">
            <div class="fas fa-bars" id="menu-btn"></div>
            <div class="fas fa-search" id="search-btn"></div>
            <div class="fas fa-shopping-cart" id="cart-btn"></div>
            <div class="fas fa-user" id="login-btn"></div>
        </div>

        <form action="" class="search-form">
            <input type="search" id="search-box" placeholder="Buscar aqui...">
            <label for="search-box" class="fas fa-search"></label>
        </form>

        <div class="shopping-cart">

            <div class="box">
                <i class="fas fa-trash"></i>
                <img src="/static/imagenes/bicicleta.png" alt="">
                <div class="content">
                    <h3>Bicicleta normal</h3>
                    <span class="price">$100/-active</span>
                    <span class="quantity">qty : 1</span>
                </div>
            </div>

            <div class="box">
                <i class="fas fa-trash"></i>
                <img src="/static/imagenes/bicicleta-electrica.png" alt="">
                <div class="content">
                    <h3>Bicicleta eléctrica</h3>
                    <span class="Precio">$100/-active</span>
                    <span class="Cantidad">qty : 1</span>
                </div>
            </div>

            <div class="box">
                <i class="fas fa-trash"></i>
                <img src="/static/imagenes/triciclo.png" alt="">
                <div class="content">
                    <h3>Triciclo</h3>
                    <span class="Precio">$100/-active</span>
                    <span class="Cantidad">qty : 1</span>
                </div>
            </div>

            <div class="total"> total : $19.69/- </div>
            <a href="#" class="btn">checkout</a>

        </div>

        <form action="" class="login-form">
            <h3>login now</h3>
            <input type="email" placeholder="Ingresa tu nombre " class="box">
            <input type="password" placeholder="Contraseña" class="box">
            <p>Olvidaste tu contraseña <a href="">Aplasta aquí</a></p>
            <p>No tienes cuenta <a href="">Crea una</a></p>
            <input type="submit" value="login now" class="btn">
        </form>

    </header>

    <section class="home" id="home">
        <div class="content">
            <h3>fresh and <span>organic</span> products for your</h3>
            <p>Lorem ipsum dolor sit amet consecteur adispisicing elit. Aliquam libero nostrum
                veniam facere tempore nisi.
            </p>
            <a href="#" class="btn">Compra ahora</a>
        </div>
    </section>

    <section class="features" id="features">
        <h1 class="heading">our <span>features</span></h1>

        <div class="box-container">
            <div class="box">
                <img src="/static/imagenes/bicicleta.png" alt="">
                <h3>Fresh and organic</h3>
                <p>Lorem ipsum dolor sit amet consecteur adispisicing elit. Aliquam libero nostrum
                    veniam facere tempore nisi.</p>
                <a href="" class="btn">read more</a>
            </div>

            <div class="box">
                <img src="/static/imagenes/bicicleta.png" alt="">
                <h3>Fresh and organic</h3>
                <p>Lorem ipsum dolor sit amet consecteur adispisicing elit. Aliquam libero nostrum
                    veniam facere tempore nisi.</p>
                <a href="" class="btn">read more</a>
            </div>

            <div class="box">
                <img src="/static/imagenes/bicicleta.png" alt="">
                <h3>Fresh and organic</h3>
                <p>Lorem ipsum dolor sit amet consecteur adispisicing elit. Aliquam libero nostrum
                    veniam facere tempore nisi.</p>
                <a href="" class="btn">read more</a>
            </div>
        </div>
    </section>

    <section class="products" id="products">
        <h1 class="heading">our <span>products</span></h1>
        <div class="swiper product-slider">
            <div class="wrapper">
                <div class="box">
                    <img src="/static/imagenes/bicicleta.png" alt="">
                    <h3>fresh orange</h3>
                    <div class="price"> $4.99/- - 10.99/- </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>

                    <a href="#" class="btn">add to cart</a>
                </div>

                <div class="box">
                    <img src="/static/imagenes/bicicleta.png" alt="">
                    <h3>fresh orange</h3>
                    <div class="price"> $4.99/- - 10.99/- </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>

                    <a href="#" class="btn">add to cart</a>
                </div>

                <div class="box">
                    <img src="/static/imagenes/bicicleta.png" alt="">
                    <h3>fresh orange</h3>
                    <div class="price"> $4.99/- - 10.99/- </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>

                    <a href="#" class="btn">add to cart</a>
                </div>

                <div class="box">
                    <img src="/static/imagenes/bicicleta.png" alt="">
                    <h3>fresh orange</h3>
                    <div class="price"> $4.99/- - 10.99/- </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>

                    <a href="#" class="btn">add to cart</a>
                </div>

                
            </div>

            <div class="swiper product-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide box">
                        <img src="/static/imagenes/bicicleta.png" alt="">
                        <h3>fresh orange</h3>
                        <div class="price"> $4.99/- - 10.99/- </div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
    
                        <a href="#" class="btn">add to cart</a>
                    </div>
    
                    <div class="swiper-slide box">
                        <img src="/static/imagenes/bicicleta.png" alt="">
                        <h3>fresh orange</h3>
                        <div class="price"> $4.99/- - 10.99/- </div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
    
                        <a href="#" class="btn">add to cart</a>
                    </div>
    
                    <div class="swiper-slide box">
                        <img src="/static/imagenes/bicicleta.png" alt="">
                        <h3>fresh orange</h3>
                        <div class="price"> $4.99/- - 10.99/- </div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
    
                        <a href="#" class="btn">add to cart</a>
                    </div>
    
                    <div class="swiper-slide box">
                        <img src="/static/imagenes/bicicleta.png" alt="">
                        <h3>fresh orange</h3>
                        <div class="price"> $4.99/- - 10.99/- </div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
    
                        <a href="#" class="btn">add to cart</a>
                    </div>
    
                    
                </div>
        </div>
    </section>

    <section class="categories" id="categories">
        <h1 class="heading">product <span>categories</span></h1>

        <div class="box">
            <img src="/static/imagenes/bicicleta.png" alt="">
            <h3>Vegitables</h3>
            <p>upto 45% off</p>
            <a href="#" class="btn">shop nows</a>
        </div>

        <div class="box">
            <img src="/static/imagenes/bicicleta.png" alt="">
            <h3>Vegitables</h3>
            <p>upto 45% off</p>
            <a href="#" class="btn">shop nows</a>
        </div>

        <div class="box">
            <img src="/static/imagenes/bicicleta.png" alt="">
            <h3>Vegitables</h3>
            <p>upto 45% off</p>
            <a href="#" class="btn">shop nows</a>
        </div>

        <div class="box">
            <img src="/static/imagenes/bicicleta.png" alt="">
            <h3>Vegitables</h3>
            <p>upto 45% off</p>
            <a href="#" class="btn">shop nows</a>
        </div>
    </section>

    <section class="review" id="review">
        <h1 class="heading">
            customers <span>review</span>
        </h1>

        <div class="swiper review-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide box">
                    <img src="/static/imagenes/bicicleta.png" alt="">
                    <p>Lorem ipsum dolor sit amet consecteur adispisicing elit. Aliquam libero nostrum
                    veniam facere tempore nisi.</p>

                    <h3>John Deo</h3>

                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="/static/imagenes/bicicleta.png" alt="">
                    <p>Lorem ipsum dolor sit amet consecteur adispisicing elit. Aliquam libero nostrum
                    veniam facere tempore nisi.</p>

                    <h3>John Deo</h3>

                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="/static/imagenes/bicicleta.png" alt="">
                    <p>Lorem ipsum dolor sit amet consecteur adispisicing elit. Aliquam libero nostrum
                    veniam facere tempore nisi.</p>

                    <h3>John Deo</h3>

                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="/static/imagenes/bicicleta.png" alt="">
                    <p>Lorem ipsum dolor sit amet consecteur adispisicing elit. Aliquam libero nostrum
                    veniam facere tempore nisi.</p>

                    <h3>John Deo</h3>

                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="blogs" id="blogs">
        <h1 class="heading">our <span>blogs</span></h1>

        <div class="box-container">
            <div class="box">
                <img src="/static/imagenes/bicicleta.png" alt="">
                <div class="content">
                    <div class="icons">
                        <a href="#"><i class="fas fa-user"></i>by user</a>
                        <a href="#"><i class="fas fa-calendar"></i>1st may,2021</a>
                    </div>

                    <h3>Fresh and organic vegitables and fruits</h3>
                    <p>Lorem ipsum dolor sit amet consecteur adispisicing elit. Aliquam libero nostrum
                        veniam facere tempore nisi.</p>

                    <a href="#" class="btn">read more</a>
                </div>
            </div>

            <div class="box">
                <img src="/static/imagenes/bicicleta.png" alt="">
                <div class="content">
                    <div class="icons">
                        <a href="#"><i class="fas fa-user"></i>by user</a>
                        <a href="#"><i class="fas fa-calendar"></i>1st may,2021</a>
                    </div>

                    <h3>Fresh and organic vegitables and fruits</h3>
                    <p>Lorem ipsum dolor sit amet consecteur adispisicing elit. Aliquam libero nostrum
                        veniam facere tempore nisi.</p>

                    <a href="#" class="btn">read more</a>
                </div>
            </div>

            <div class="box">
                <img src="/static/imagenes/bicicleta.png" alt="">
                <div class="content">
                    <div class="icons">
                        <a href="#"><i class="fas fa-user"></i>by user</a>
                        <a href="#"><i class="fas fa-calendar"></i>1st may,2021</a>
                    </div>

                    <h3>Fresh and organic vegitables and fruits</h3>
                    <p>Lorem ipsum dolor sit amet consecteur adispisicing elit. Aliquam libero nostrum
                        veniam facere tempore nisi.</p>

                    <a href="#" class="btn">read more</a>
                </div>
            </div>
        </div>
    </section>


    <section class="footer">
        <div class="box-container">
            <div class="box">
                <h3> BikeFast <i class="fa-solid fa-bicycle"></i></h3>
                <p>Lorem ipsum dolor sit amet consecteur adispisicing elit. Aliquam libero nostrum
                    veniam facere tempore nisi.</p>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                    
                </div>
            </div>

            <div class="box">
                <h3>Contact info</h3>
                
                <a href="#" class="links"> <i class="fas fa-phone">+123-456-7890</i></a>
                <a href="#" class="links"> <i class="fas fa-phone">+111-222-3334</i></a>
                <a href="#" class="links"> <i class="fas fa-envelope">correo@gmail.com</i></a>
                <a href="#" class="links"> <i class="fas fa-map-marker-alt">mubai, inida - 4000104</i></a>
            </div>

            <div class="box">
                <h3>Contact info</h3>
                
                <a href="#" class="links"> <i class="fas fa-arrow-right">home</i></a>
                <a href="#" class="links"> <i class="fas fa-arrow-right">features</i></a>
                <a href="#" class="links"> <i class="fas fa-arrow-right">products</i></a>
                <a href="#" class="links"> <i class="fas fa-arrow-right">categories</i></a>
                <a href="#" class="links"> <i class="fas fa-arrow-right">review</i></a>
                <a href="#" class="links"> <i class="fas fa-arrow-right">blogs</i></a>
                
            </div>

            
            <div class="box">
                <h3>Newsletters</h3>
                
                <p>subscribe for latest updates</p>
                <input type="email" placeholder="Your email" class="email">
                <input type="submit" value="subscibe" class="btn">
                <img src="" alt="" class="payment-img">
                
            </div>
        </div>

        
    </section>

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
   
    <script src="/static/js/script.js"></script>
</body>
</html>